.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: rgb(242, 239, 239);
    opacity: 0.4;
    z-index: 1;
}
li.user-info{
    align-items: center;
    justify-content: center;
    display: flex;
}
li.user-info p{
    margin-bottom:0;
}
li.user-info p span {
    text-transform: capitalize;
}
